* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

     header {
         display: flex;
         justify-content: flex-start;
         border: solid purple;
         width: 320px;
         height: 44px;

        div {
            border: solid black;
            display: flex;
            width: 100%;
            justify-content: space-between;

            #logo {
                width: 24px;
                height: 24px;
                margin: 10px 0 10px 16px;
                }

            #list {
            margin: 16px 19px 0 0 ;
            }   

            .menu {
                border: solid red;
                width: 100%;
                position: absolute;
                //Si no coloco posicion absoluta, no abarca el 100% del ancho
               
    
                ul {
                    background: blue;
                    
    
                    li{ 
                        color: white;
                        list-style: none;
                        width: 100%;
                        margin-top: 44px;
                        margin-left: -100%;
                    }
                    
                }
            }    

        
            
            
        } 
    }
}
